/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
.alignMenuItems {
  position: fixed!important;
  left: 150px!important;
}
.hamburger {
  color: black!important;
  padding: 10px;
}
.insideHamburger {
  color: black!important;
  left: -15px;
}
.imgIcon {
  padding-right: 4px;
  width: 17px;
  height: 17px;
  color: #0000EE;
}

.cap {
  text-transform: capitalize!important;
}
.sec {
  text-align: center;
}
.vertImg {
  vertical-align: middle;
}
.cn {
  height: 25%;
  width: 25%;
}
.dataTable {
  width: 95%;
}
